/*GENERAL*/
	body {
	    background-color: black;
	    font-family: 'Roboto Mono', monospace;
    	opacity: 1;
    	transition: 2s opacity;

    	z-index: -1;
	}

	body.fade-out {
    	opacity: 0;
   		transition: none;
	}

	header {
	    position: fixed;
	    height: 100vh;
	    width: 100%;
	    top: 0;
	}

	a {
		color: black;
	}

	a:hover{
		color: rgba(255, 187, 41, 1) !important;

		-webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    -ms-transition: all 0.15s ease-in-out;
	    -o-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;
	}

	a:visited{
		color: black;
	}

	.button{
		display: block;
		position: relative;

		bottom: 0;
		width: 20em;
		background-color: black;
		border-color: black;
		color: white !important;

		left: 50%;

		transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);

		-webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    -ms-transition: all 0.15s ease-in-out;
	    -o-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;
	}

	.button:hover{
		background-color: rgba(255, 187, 41, 1);
		border-color: rgba(255, 187, 41, 1);
		color: white !important;
	}

	.button:focus{
		background-color: rgba(255, 187, 41, 1);
		border-color: rgba(255, 187, 41, 1);
	}

	/* Small only */
	@media screen and (max-width: 39.9375em) {
		header {
			z-index: -3;
		}
	}

	/* Medium only */
	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		header {
			z-index: -2;
		}
	}

/*HERO*/

	#hero-index, #hero-example{
		background: darkred;
		background: url('../assets/bg.jpg') center center;
	}

	.hero:before{
	  position: absolute;
	  content:" ";
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  z-index:1;
	  background-color: rgba(0,0,0,0.5);
	}

	#hero-contact, #hero-about, #hero-resume {
	    background: url('../assets/contact.jpg') center center;
	}

	#hero-greidient {
		background: url('../assets/greidient/greidient.jpg') center center;
	}

	#hero-apparel {
		background: url('../assets/apparel/apparel.jpg') center center;
	}

	#hero-logos {
		background: url('../assets/logos/logos.jpg') center center;
	}

	#hero-berlin {
		background: url('../assets/berlin/berlin.jpg') center center;
	}

	#hero-keyp {
		background: url('../assets/keyp/hero.jpg') center center;
	}

	#hero-contact:before, #hero-about:before, #hero-resume:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.9);
	}

	.hero {
	    background-size: cover !important;
	    height: 100vh;
	    width: 100vw;
	}

	.hero-half{
		height: 50vh;
	}

	#hero-text {
	    display: block;
	    position: absolute;
	    color: white;
	    font-size: 2em;
	    font-weight: 700;
	    text-align: center;
	    letter-spacing: 2px;
	    width: 100vh;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}

	#hero-text strong{
		font-size: 2em;
	}

	#text-wrapper {
		display: block;
	    position: absolute;
	    left: 50%;
	    top: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
	}

	#hero-text span{
		color: rgba(255, 187, 41, 1);
	}

	#blinky {
	    border-right: .05em solid;
	    animation: caret 1s steps(1) infinite;
	}

	@keyframes caret {
	    50% {
	        border-color: transparent;
	    }
	}

	@media screen and (max-width: 63.9375em) {
		.hero{
			height: 50vh;
		}

		#hero-text {
			font-size: 1.5em;
		}
	}

	@media screen and (max-width: 39.9375em) {
		.hero{
			height: 50vh;
		}

		#hero-index #hero-text {
			font-size: 1em;
		}
	}

/*MENU BAR*/

	.menu a,
	.menu li {
	    color: white;
	    font-weight: bold;
	    letter-spacing: 0.1em;
	    text-transform: uppercase;

	    margin-top: auto;
	    margin-bottom: auto;
	}

	.menu a img{
		 height: auto;
		 width: auto;
		 max-height: 3em;
		 max-width: 4em;
	}

	.top-bar {
	    height: 4em;
	    width: 100%;
	    z-index: 100;
	    color: white;
	    background-color: transparent;
	    position: absolute;
	    overflow: hidden;
	    -webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    -ms-transition: all 0.15s ease-in-out;
	    -o-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;

	    transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
	}

	.main-nav-scrolled {
	    color: black;
	    position: fixed;
	    top: 6em;
	    overflow: visible;
	    background-color: rgba(255, 255, 255, 0.9);
	    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	}

	.main-nav-scrolled a,
	.main-nav-scrolled li {
	    color: black;
	}

	/*LOGO COLOR*/
		#white-logo, #logo:visited #white-logo {
			display: block;
		}
		#black-logo, #logo:visited #black-logo {
			display: none;
		}
		#yellow-logo, #logo:visited #yellow-logo{
			display: none;
		}

		.main-nav-scrolled #white-logo, #logo:visited #white-logo{
			display: none;
		}
		.main-nav-scrolled #black-logo, #logo:visited #black-logo{
			display: block;
		}
		.main-nav-scrolled #yellow-logo, #logo:visited #yellow-logo{
			display: none;
		}

		#logo:hover #white-logo{
			display: none;
		}
		#logo:hover #black-logo{
			display: none;
		}
		#logo:hover #yellow-logo{
			display: block;
		}

	.top-bar ul {
	    background-color: transparent;
	}

	.menu > .scrolled {
	     visibility: hidden;
	     opacity: 0;

	    -webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    -ms-transition: all 0.15s ease-in-out;
	    -o-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;
	}

	.main-nav-scrolled .menu > .scrolled {
	    visibility: visible;
	     opacity: 1;
	}

	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		.top-bar{
			font-size: 1.5em;
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
	}

	@media screen and (max-width: 39.9375em) {
		.top-bar, .top-bar-left, .top-bar-right {
			flex: none !important;
		}
	}

	/*DROPDOWN*/

		.cats:hover:before {
		    position:absolute;
		    content:'';
		    color: transparent;
		    height: 6em;
			width: 8em;
		}

		.tags {
			visibility: hidden;
		    opacity: 0;

			top: 5em;
			width: auto;
			height: auto;
			z-index: 100;
			position: absolute;
			padding-top: 0.5em;
			padding-bottom: 0.5em;

			background-color: rgba(255, 255, 255, 0.9);
		    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
		    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
		    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);

		    -webkit-transition: all 0.15s ease-in-out;
		    -moz-transition: all 0.15s ease-in-out;
		    -ms-transition: all 0.15s ease-in-out;
		    -o-transition: all 0.15s ease-in-out;
		    transition: all 0.15s ease-in-out;
		}

		.show:hover > a{
			color: rgba(255, 187, 41, 1);
		}

		.show:hover .tags{
			visibility: visible;
		    opacity: 1;
		}

		.all {
			cursor: pointer !important;
		}

	/*MOBILE NAV*/

		/*DISPLAY MENU*/

			.hamburger{
				cursor: pointer;
				z-index: 600;
				height: 100%;
				display: none;	
				font-weight: 2em;
				font-style: bold;

				-webkit-transform:scale(2,1.5); /* Safari and Chrome */
			    -moz-transform:scale(2,1.5); /* Firefox */
			    -ms-transform:scale(2,1.5); /* IE 9 */
			    -o-transform:scale(2,1.5); /* Opera */
			    transform:scale(2,1.5); /* W3C */
			}

			.hamburger:active {
				color: rgba(255, 187, 41, 1);
			}

			@media screen and (max-width: 63.9375em) {
				.hamburger{
					padding-right: 0.5em;
					display: flex;
				}

				.main-nav li:not(.keep){
					display: none;
				}

				.main-nav-scrolled {
					top: 4em;
				}
			}

		/*TOGGLE NAV*/

			.mobile-menu {
				position: fixed;
				display: none;
				height: 100vh;
				width: 100vw;
				top: 0;
				right: 0;
				z-index: 500;
				text-transform: uppercase;
				color: black;
				background-color: rgba(255, 255, 255, 0.9);
			}

			.mobile-menu .x{
				position: absolute;
				font-size: 4em;
				top: 1em;
				right: 1.5em;
				cursor: pointer;
			}

			.x:active {
				color: rgba(255, 187, 41, 1);
			}

			.mobile-menu ul{
				width: 50%;
				position: relative;
				top: 50%;
				margin: auto;
				text-align: center;
				transform: translateY(-50%);

				list-style-type: none;
			}

			.mobile-menu li{
				margin: 0;
				margin-bottom: 1em;
				font-size: 2em;

				list-style-type: none;
			}

			@media screen and (max-width: 39.9375em) {
				.hamburger {
					padding-right: 1em;
				}

				.mobile-menu {
			        font-size: 0.65em;
			    }

			    .mobile-menu .x{
					font-size: 3em;
					top: 1em;
					right: 1.5em;
				}
			}

/*MAIN*/

	.main, .main-half {
	    margin: 0;
	    margin-top: 100vh;
	    position: relative;
	    background-color: white;
	    padding: 10em;
	}

	.main-half {
		margin-top: 50vh;
	}

	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		.main {
			padding: 8em 5em 8em 5em;
			margin-top: 50vh;
		}
	}

	@media screen and (max-width: 39.9375em) {
		.main, .main-half {
			padding: 5em 1em 5em 1em;
			margin-top: 50vh;
		}
	}

/*PROJECT*/

	.entry:hover {
		-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
	    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
	    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
	}

	.grid-sizer, .grid-item {
		width: calc(50% - 1.5em);
	}		

	.gutter-sizer { 
		width: 3em; 
	}

	.grid:after {
	    content: '';
	    display: block;
	    clear: both;
	}

	.grid-item{
		float: left;
		display: inline-block;
	    background: #fff;
	    margin-bottom: 3em;
	    -webkit-transition: 1s ease all;

	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;

	    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);

	    -webkit-transition: all 0.25s ease-in-out;
	    -moz-transition: all 0.25s ease-in-out;
	    -ms-transition: all 0.25s ease-in-out;
	    -o-transition: all 0.25s ease-in-out;
	    transition: all 0.25s ease-in-out;
	}

	.grid-item p{
		font-family: 'Inconsolata', monospace;
		margin-bottom: 0;
		padding: 2em;
	}

	.grid-item img {
	    width: 100%;
	}

	.grid-item:hover a {
		font-weight: bold;
	}

	@media screen and (max-width: 63.9375em) {
		.grid-sizer, .grid-item {
			width: 100%;
		}	
	}

/*CONTACT*/

	.contact {
		position: relative;
	}

	form div{
		position: relative;
	}

	form {
		width: 50%;
		height: auto;
		color: black;
		margin: auto;
		display: block;
	    position: relative;

	    padding: 2em;

	    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	}	

	form input, form textarea{
		color: black !important;
		border-color: lightgrey !important;
		background-color: rgba(255,255,255,0.2) !important;
	}

	form input:focus, form textarea:focus{
		border-color: black !important;

		-webkit-transition: all 0.25s ease-in-out;
	    -moz-transition: all 0.25s ease-in-out;
	    -ms-transition: all 0.25s ease-in-out;
	    -o-transition: all 0.25s ease-in-out;
	    transition: all 0.25s ease-in-out;

		-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
	    color: black;
	}

	input::-moz-placeholder,
	textarea::-moz-placeholder {
	    color: black;
	}

	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
	    color: black;
	}

	input::placeholder,
	textarea::placeholder {
	    color: black;
	}

	[placeholder=Message] {
		height: 8em;
	}

	form div p{
		color: black;
		font-size: 2em;
	}

	form .button{
		color: white;
		width: 100%;
		margin-top: 4em;
		margin-bottom: -1em;
	}

	/* Small only */
	@media screen and (max-width: 39.9375em) {
		.contact {
			padding: 6em 1em 6em 1em;
		}

		form {
			width: 100%;
		}
	}

	/*Medium only*/
	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		.contact {
			padding: 12em 6em 12em 6em;
		}

		form {
			width: 100%;
		}
	}

/*RESUME*/

	.three .grid-item, .three .grid-sizer {
		width: calc(33.333% - 2em);
	}

	.resume img {
		width: 33.333%;

		display: block;
		position: relative;

		left: 50%;
		top: 50%;
	    transform: translate(-50%, 50%);
	}

	.resume p {
		margin-top: 4em;
	}

	.resume-button {
		margin-top: 3em;
	}

	@media screen and (max-width: 39.9375em) {
		.three .grid-sizer, .three .grid-item {
			width: 100%;
		}	
	}

	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		.three .grid-sizer, .three .grid-item {
			width: calc(50% - 1.5em);
		}		
	}

/*FOOTER*/

	.footer {
		text-align: center;
	    height: 16em;
	    width: auto;
	    position: relative;
	    background-color: white;

	    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	}

	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		.footer {
			font-size: 1.5em;
		}
	}

	.footwrap{

		display: block;
	    position: absolute;

	    left: 50%;
	    top: 50%;

	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	}

	.footwrap p {

	    color: grey;
	    font-size: 1em;

	}

	.return{
		cursor: pointer;
		width: 100%;
		text-align: center;
		margin-top: -2em;
		margin-bottom: -6em;
	}

	.return a{
		display: inline-block;
		font-size: 8em;
		color: black;
	}